<?xml version="1.0" encoding="utf-8"?>
<checkstyle version="4.3">
<file name="js/rest_grpc_client/src/greet.ts">
</file>
<file name="js/rest_grpc_client/src/main.ts">
<error line="4" column="8" severity="error" message="Calls to &#39;console.log&#39; are not allowed." source="no-console"/>
</file>
</checkstyle>